@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: vaziri;
  src: url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
}

body {
  font-family: vaziri;
}
